.meus-dados{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(120,135,182,.4);
    width:35vw;
    height: 800px;
}

.perfil-title{
    font-family: 'ubuntu';
    font-weight: bold;
    color:#4e342e;
    font-size: 40px;
}

.info-client{
    font-family: 'ubuntu';
    font-size: 20px;
    color: #212121;
    font-weight: medium;
}

.title-type{
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'ubuntu';
    color: #212121;
}

.content-dados{
    display: flex;
    justify-content: center;
    align-content: center;
}

text{
    opacity: 0;
}