ul li{
    font-family: 'Ubuntu', sans-serif!important;
    text-transform: capitalize;
}

nav ul a{
    color:#4e342e!important;
}

.logo-nav{
    width:70px;
}

nav{
    box-shadow: none!important;
}

.destaque-nav{
    font-weight: 1000;
    color: white;
}