main{
    overflow-x: hidden;
}

.background{
    width: 100vw;
    height: 800px;
    background-color:#fafafa!important;
}

.money{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 5%;
    flex-direction: row;
    position: relative;
}

.vector{
    width: 100vw;
    height: 30vw;
    color: red;
    position: absolute;
}

.anuncio-cash{
    font-family: 'Ubuntu';
    font-weight: bold;
    text-transform: capitalize;
    color: #214f26;
    text-align: left;
    margin-left:10px;
    font-size: 50px;
}

.anuncio-cash-body{
    font-family: 'Ubuntu';
    color: #423539;
    font-size: 20px;
}

.btn-main{
    font-weight: bold;
}

.background-red{
    width: 100vw;
    height: 700px;
    background-color:#63b8b2!important;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    position: relative;
}

.title-red{
    color:#fafafa;
    text-align: center;
}

.box-graphics{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.servicos-sms{
    color:#fafafa;
    font-family: 'Ubuntu';
    font-size: 20px;
}

.text-image{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.responsive-graphic{
    width: 600px;
    height: 350px;
}

.background-planos{
    background-color: #f5f6fd;
    width: 100vw;
    height: 600px;   
}

.main-box{
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.box-intern{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(120,135,182,.4);
    width: 25%;
    height: 550px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.title-box{
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'ubuntu'
}

.vantages{
    font-weight: medium;
    font-family: 'ubuntu';
    text-transform: capitalize;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .responsive-graphic{
        width: 300px;
        height: 250px;
    }

    .box-intern{
        width: 80%;
    }

    .main-box{
        flex-direction: column;
    }

    .background-planos{
        background-color: #f5f6fd;
        width: 100vw;
        height: 1200px;   
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 