main{
    overflow-x: hidden;
}

.background{
    width: 100vw;
    height: 800px;
    background-color:#fafafa!important;
}

.money{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 5%;
    flex-direction: row;
    position: relative;
}

.vector{
    width: 100vw;
    height: 30vw;
    color: red;
    position: absolute;
}

.anuncio-cash{
    font-family: 'Ubuntu';
    font-weight: bold;
    text-transform: capitalize;
    color: #214f26;
    text-align: left;
    margin-left:10px;
    font-size: 50px;
}

.anuncio-cash-body{
    font-family: 'Ubuntu';
    color: #423539;
    font-size: 20px;
}

.btn-main{
    font-weight: bold;
}

.background-red{
    width: 100vw;
    height: 800px;
    background-color:#63b8b2!important;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    position: relative;
}

.title-red{
    color:#fafafa;
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 